# Virtual environment
.venv_efi_imaging_bench/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo

# Ignore everything by default
/*

# Track only these directories
!/src/
/src/*
!/src/application/
!/src/domain/
!/src/interface/
!/src/infrastructure/

# Track documentation and config
!/docs/
!/requirements.txt
!/README.md
!/.gitignore

# Legacy
/src/infrastructure/legacy_ArcusPerfomax4EXStage/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Dropbox
.dropbox
.dropbox.attr
*conflicted copy*
